.game-upload-container {
  display: inline-block;
}

.input-file {
  display: none;
}

.input-fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-title {
  margin-right: 10px;
}

.progress-bar {
  margin-bottom: 5px;
}
