<h2>Hi {{authService.getName()}}</h2>

<div *ngIf="games.length === 0">
  <div class="text-with-icon no-games-warning">
    <mat-icon>info</mat-icon>
    <div>You have not uploaded any games yet :/</div>
  </div>
  <button mat-raised-button color="primary" [routerLink]="['/upload']"> Upload now</button>
</div>

<mat-card *ngFor="let game of games" class="game-card">
  <mat-card-header>
    <mat-card-title>{{ game.title }}</mat-card-title>
    <mat-card-subtitle>Game ID: {{ game.id }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Status: {{ game.status }}</p>
    <a href="{{game.url}}">URL: {{ game.url }}</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="refreshGame(game.id)">Refresh</button>
    <button mat-button color="warn" (click)="deleteGame(game.id)">Delete</button>
  </mat-card-actions>
</mat-card>

<button *ngIf="games.length !== 0" mat-raised-button color="primary" (click)="refreshAllGames()">Refresh All</button>

