.games-table {
  white-space: pre;
  width: 100%;
}

.no-games-warning {
  padding-bottom: 2rem;
}

.url-container button {
  margin-left: 10px;
}

.welcome-container {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0
}

.welcome-container button {
  margin-top: 0.5rem;
}

.game-card {
  margin-bottom: 0.2rem;
  border: 1px solid #999;
}