<div class="games-table">
  <table mat-table [dataSource]="games">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let game"> {{game.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let game"> {{game.title}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let game"> {{game.status}} </td>
    </ng-container>
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL </th>
      <td mat-cell *matCellDef="let game"> {{game.url}} </td>
    </ng-container>
    <ng-container matColumnDef="refresh">
      <th mat-header-cell *matHeaderCellDef> Refresh </th>
      <td mat-cell *matCellDef="let game"><button mat-flat-button color="primary"
                                                  (click)="refreshGame(game.id)">Refresh</button></td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let game"><button mat-flat-button color="warn"
                                                  (click)="deleteGame(game.id)">Refresh</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
